<div class="row">
    <div id="header" class="col"><h1>Hello {{name}} What else</h1></div>
</div>
<div id="main-container" class="container-fluid">

    <div class="row">
        <div id="sidebar" class="col-xs-3">
            <!-- sidebar content -->
            Side Bar
        </div>
        <div id="content" class="col-xs-9">
            <!--  main content -->
           Main
        </div>
    </div>
    <div class="row">
        <div id="footer" class="col center-block">...</div>
    </div>
</div>